<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GeeSpace PaaS</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .main-container{
            width: 100%;
            height: 100vh;
            background: url("/images/bg.jpg");
        }
        .title_content{
            font-size: 40px;
            color: white;
            text-align: center;
            width: 100%;
            height: 40px;
            position: absolute;
            top: 50%;
            margin-top: -20px;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="title_content">WelCome to GeeSPace PaaS</div>
    </div>
</body>
</html>
